<div class="card mt-5">
    <div class="card-body">
        <form #empleadoForm="ngForm" (ngSubmit)="onSubmit(empleadoForm)">
            <!-- TO UPDATE -->
            <input required type="hidden" name="$key" #$key="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.$key">

            <div class="form-group">
                <input required type="text" class="form-control" name="nombres" #name="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.nombres" placeholder="Ingrese su nombre completo">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control" name="apellidos" #category="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.apellidos" placeholder="Ingrese sus apellidos">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control" name="area" #location="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.area" placeholder="Ingrese area a la que pertenece">
            </div>
            <div class="form-group">
                <!-- <input type="text" class="form-control" name="tipoDocumento" #location="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.tipoDocumento" placeholder="Ingrese area a la que pertenece"> -->
                <select required class="form-control" name="tipoDocumento" [(ngModel)]="empleadoService.selectedEmpleado.tipoDocumento">
                       
                       <option  value="cc">Cédula de ciudadania</option> 
                        <option value="p">Pasaporte</option>
                        <option value="ce">Cédula de extranjería</option>
                        <option value="o">Otro</option>
                    </select>
            </div>
            <div class="form-group">
                <input required type="date" class="form-control" name="fechaDeNacimiento" #location="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.fechaDeNacimiento" placeholder="Ingrese su fecha de nacimiento">
            </div>

            <div class="form-group">
                <input required type="number" class="form-control" name="identificacion" #location="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.identificacion" placeholder="Ingrese el número de identificación">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid">
                <i class="fas fa-plus-circle"></i> Registrar empleado
            </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(empleadoForm)">
                <i class="fas fa-sync-alt"></i> Reiniciar
            </button>
            </div>
        </form>
    </div>
</div>